################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solidworks Automation/FileContentIndex
/Addin Installer/obj/Debug
/AddInDllVersionControl/obj/Debug
/Bounty/obj/Debug
/FileTools/obj/Debug
/Hood/obj/Debug
/Hood/obj/Debug/Hood.csproj.AssemblyReference.cache
/MachineryMount/obj/Debug
/MachineryMount/obj/Debug/MachineryMount.csproj.AssemblyReference.cache
/ModelTools/obj/Debug
/ModelTools/obj/Debug/ModelTools.csproj.AssemblyReference.cache
/Plenum/obj/Debug
/Plenum/obj/Debug/Plenum.csproj.AssemblyReference.cache
/Structure/obj/Debug
/Structure/obj/Debug/Structure.csproj.AssemblyReference.cache
/Testing/obj/Debug
/Testing/obj/Debug/Testing.csproj.AssemblyReference.cache
/Walkway/obj/Debug
/.vs/Solidworks Automation/v17
