<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileTools.Properties.Settings>
            <setting name="Beams_AreRotated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clip_THK" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="EndPanel_THK" serializeAs="String">
                <value>0.375</value>
            </setting>
            <setting name="SidePanel_THK" serializeAs="String">
                <value>0.375</value>
            </setting>
            <setting name="Beam_Size" serializeAs="String">
                <value>W8x31</value>
            </setting>
            <setting name="PlenumDesignSetting" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="Plenum_Length" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="Plenum_Width" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="Fan_Count" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Plenum_Depth" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Mid_Columns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fan_Diameter_Feet" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FanRing_Depth" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="MotorShaft_Orientation" serializeAs="String">
                <value>Motor Shaft Down</value>
            </setting>
            <setting name="MaterialSpecSetting" serializeAs="String">
                <value>A572_50</value>
            </setting>
            <setting name="Beam_Depth" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Beam_WebTHK" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Beam_FlangeWidth" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Beam_FlangeTHK" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Beam_K" serializeAs="String">
                <value>0.625</value>
            </setting>
            <setting name="Beam_K1" serializeAs="String">
                <value>0.375</value>
            </setting>
            <setting name="Beam_FlangeGage" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="Beam_WebGage" serializeAs="String">
                <value>2.25</value>
            </setting>
            <setting name="MotorBeam_Required" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Project" serializeAs="String">
                <value>M000</value>
            </setting>
            <setting name="Customer" serializeAs="String">
                <value>Customer</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>Client</value>
            </setting>
            <setting name="PlantLocation" serializeAs="String">
                <value>Location</value>
            </setting>
            <setting name="PurchaseOrder" serializeAs="String">
                <value>Purchase Order</value>
            </setting>
            <setting name="ItemNumber" serializeAs="String">
                <value>Item Number</value>
            </setting>
            <setting name="Initials" serializeAs="String">
                <value>Your Initials</value>
            </setting>
            <setting name="Bank" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Johnson_ExtraLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Toggle_CreateDrawing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Toggle_Save" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Toggle_DeleteFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalColumnHeight" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BasePlate_Width" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BasePlate_Length" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BasePlate_WidthHoleSpacing" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="BasePlate_LengthHoleSpacing" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="BasePlate_HoleDiameter" serializeAs="String">
                <value>0.8125</value>
            </setting>
            <setting name="MachineryMount_Height" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="BraceType" serializeAs="String">
                <value>TX</value>
            </setting>
            <setting name="HoleDiameter_Structural" serializeAs="String">
                <value>0.8125</value>
            </setting>
            <setting name="BraceAngle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AngleBrace_Leg1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AngleBrace_Leg2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AngleBrace_Gage" serializeAs="String">
                <value>1.75</value>
            </setting>
            <setting name="AngleBrace_THK" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AngleBrace_K" serializeAs="String">
                <value>0.5625</value>
            </setting>
            <setting name="WT_Depth" serializeAs="String">
                <value>2.125</value>
            </setting>
            <setting name="WT_StemTHK" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="WT_FlangeWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WT_FlangeTHK" serializeAs="String">
                <value>0.375</value>
            </setting>
            <setting name="WT_K" serializeAs="String">
                <value>0.6875</value>
            </setting>
            <setting name="WT_K1" serializeAs="String">
                <value>0.4375</value>
            </setting>
            <setting name="WT_FlangeGage" serializeAs="String">
                <value>2.25</value>
            </setting>
            <setting name="MachineryMount_Width" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="ShippingBeam_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BasePlate_THK" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Clip_Height" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FloorSplice_LengthOverride" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndStiffenerCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DividerStiffenerCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Bundle_Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SideFrame_THK" serializeAs="String">
                <value>0.1344</value>
            </setting>
            <setting name="SideFrame_Depth" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="IsBeltDrive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGearDrive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDirectDrive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsForced" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsInduced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMotorShaftUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMotorShaftDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MotorFrameSize" serializeAs="String">
                <value>286</value>
            </setting>
            <setting name="TotalUnitWeight" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="FanShaft_Diameter" serializeAs="String">
                <value>2.9375</value>
            </setting>
            <setting name="Motor_CenterToCenter" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Vibration_Sensor" serializeAs="String">
                <value>Murphy VS-2-EX</value>
            </setting>
            <setting name="MachineryMount_Length" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="MotorShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxWidth61" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxWidth62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxWidth63" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxWidth64" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxWidth65" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxWidth66" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubesheetTHK_61" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubesheetTHK_62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubesheetTHK_63" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubesheetTHK_64" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubesheetTHK_65" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubesheetTHK_66" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlugsheetTHK_61" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlugsheetTHK_62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlugsheetTHK_63" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlugsheetTHK_64" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlugsheetTHK_65" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlugsheetTHK_66" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubeLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TubeStickThru" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeadersOutsideFrames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRequired_61" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRequired_62" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRequired_63" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRequired_64" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRequired_65" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRequired_66" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerticalSpan61" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalSpan62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalSpan63" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalSpan64" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalSpan65" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalSpan66" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxLength61" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxLength62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxLength63" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxLength64" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxLength65" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxLength66" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopBottomTHK_61" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopBottomTHK_62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopBottomTHK_63" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopBottomTHK_64" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopBottomTHK_65" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopBottomTHK_66" serializeAs="String">
                <value>0</value>
            </setting>
        </FileTools.Properties.Settings>
    </userSettings>
</configuration>