<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileTools.Properties.Settings>
            <setting name="Beams_AreRotated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clip_THK" serializeAs="String">
                <value>0.375</value>
            </setting>
            <setting name="EndPanel_THK" serializeAs="String">
                <value>0.375</value>
            </setting>
            <setting name="SidePanel_THK" serializeAs="String">
                <value>0.375</value>
            </setting>
            <setting name="Beam_Size" serializeAs="String">
                <value>W6x15</value>
            </setting>
            <setting name="PlenumDesignSetting" serializeAs="String">
                <value>Legacy</value>
            </setting>
        </FileTools.Properties.Settings>
    </userSettings>
</configuration>